# settings files
*.json*

# logfiles
*.log
*.debug
*.txt

# encryption files
*.key

# specific folders
Flexmail/responses

# specific files
last_request.xml
recipientlists.json

# archive folders
_archive
_dev

# visual files
*.png

# others
*.part*
*.lock
*.csv
*.part*
*.xml
*.txt
*.json
*.db
