# settings files
settings.json
session.json
*.json

# logfiles
*.log
*.debug
*.txt


# encryption files
aes.key

# specific folders
Flexmail/responses

# specific files
last_request.xml
recipientlists.json

# archive folders
_archive
_dev

# visual files
*.csv
*.png
*.xml
*.part*
*.sqlite
*.dll
*.pdb
*.exe
*.config
*.zip
