# settings files
*.json*
*.ini

# logfiles
*.log
*.debug
*.txt

# encryption files
*.key

# specific folders
Flexmail/responses
KlickTipp/*

# specific files
last_request.xml
recipientlists.json

# archive folders
_archive
_dev

# visual files
*.png

# text files
*.part*
*.lock
*.csv
*.part*
*.xml
*.txt
*.json
*.config

# database files
*.db
*.sqlite

# binary files
*.dll
*.zip
*.exe

# others
*.pdb
